<article>
  <h1>GitHub Issues</h1>
  <hr class="my-5 border-b-2 border-blue-600" />

  <section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
    <div class="flex flex-col col-span-3">
      <div class="flex gap-2">
        <button
          [class.active]="currentState() === State.All"
          class="btn"
          (click)="onChangeState(State.All)"
        >
          All
        </button>
        <button
          [class.active]="currentState() === State.Open"
          class="btn"
          (click)="onChangeState(State.Open)"
        >
          Open
        </button>
        <button
          [class.active]="currentState() === State.Closed"
          class="btn"
          (click)="onChangeState(State.Closed)"
        >
          Closed
        </button>
      </div>
    </div>

    <!-- Listado -->
    <section class="mt-4 flex flex-col col-span-2">
      <h3>Issues</h3>
      <!-- TODO: Listado de issues -->
      @for (issue of issues.data(); track issue.id) {
        <issue-item [issue]="issue" />
      } @empty {
        @if (issues.isLoading()) {
          <p>Cargando issues...</p>
        } @else {
          <p>No hay issues que mostrar.</p>
        }
      }
      <!-- TODO: Spinner -->
      <!-- TODO: Si no hay issues por el filtro -->
    </section>

    <!-- Labels -->
    <section class="mt-4 text-center">
      <h3>Labels</h3>

      @if (labels.isLoading()) {
        <p>Estamos cargando</p>
      } @else {
        <issues-labels-selector [labels]="labels.data() ?? []" />
      }
      <!-- TODO: Spinner -->
      <!-- TODO: Label Selector -->
    </section>
  </section>
</article>
